.bg-video-area {
    background: url(../images/scroll_bg/video_bg.jpeg) no-repeat fixed 0 0/cover;
    position: relative;
    z-index: 1
}

.bg-video-area:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: rgba(26, 26, 26, 0.9) none repeat scroll 0 0;
    opacity: 0.75;
}

.video-container {
    text-align: center;
}

.video-container h2 {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 15px;
    line-height: 52px;
}

.float{
    width: 48px;
    height: 48px;
    line-height: 48px;
    background: var(--bs-second);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 22px;
    color: #fff !important;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
    border-radius: 50%;
}